<% layout('_layout') -%>
<div class="container">
	<h1>BHere SSO</h1>
	<p>
		<a href="/sso/login">Login</a>
		<a href="/sso/register">Register</a>
		<a href="/sso/logout">Logout</a>
	</p>
	<p>
		user: <%= user %>
	</p>
</div>
