<% layout('_layout') -%>
<style>
.form {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form .checkbox {
	font-weight: 400;
}

.form .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form .form-control:focus {
	z-index: 2;
}

.form input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

</style>
<div class="container">
	<form class="form" method="post">
		<h1 class="h3 mb-3 font-weight-normal">SSO server registration</h1>
		<label for="firstName" class="sr-only">First Name</label>
		<input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName" required autofocus>
		<label for="lastName" class="sr-only">Last Name</label>
		<input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName" required autofocus>
		<label for="email" class="sr-only">Email address</label>
		<input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
		<label for="password" class="sr-only">Password</label>
		<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
		<div class="checkbox mb-3">
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
